

  .board-label {
    font-size: 24px;
  }

  .cards-grid {
      margin-top: 28px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 16px;
      overflow: hidden;
      padding: 8px;
  }

  .cards-bigger-grid {
    margin-top: 28px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 16px;
    overflow: hidden;
    padding: 8px;
}