@import 'app';

.board {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
}

.board-label {
    font-size: 22px;
    color: $text-color;
}

@mixin cards-grid {
    margin-top: 28px;
    display: grid;
    grid-gap: 16px;
    overflow: hidden;
    padding: 8px;
    height:100%;
}

.cards-small-grid {
    @include cards-grid;
    
    /* desktop screen */
    @media (min-width: 801px) {
        grid-template-columns: repeat(4, 1fr);
    }
     
    /* mobile screen */
    @media (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.cards-medium-grid {
    @include cards-grid;
    
    /* desktop screen */
    @media (min-width: 801px) {
        grid-template-columns: repeat(4, 1fr);
    }
     
    /* mobile screen */
    @media (max-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.cards-big-grid {
    @include cards-grid;
       
    /* desktop screen */
    @media (min-width: 801px) {
        grid-template-columns: repeat(6, 1fr);
    }
     
    /* mobile screen */
    @media (max-width: 800px) {
        grid-template-columns: repeat(3, 1fr);
    }
}