@import 'App';

button {
    background: none;
    border: 1px solid white;
    padding: 6px 12px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.options-button {
    margin-top: 18px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
}

.options-button:hover {
    box-shadow: 0px 3px 4px white;
    transform: translateY(-2px);
}

.options-selected {
    color: $primary-color;
    background-color: white;
}

.header-selected {
    color: white;
    background-color: $primary-color;
}

.mario-sports {
    background-color: $mario-sports-color;
}

.animal-crossing {
    background-color: $animal-crossing-color;
}

.pokemon {
    background-color: $pokemon-color;
}

.new-game {
    background-color: $primary-dark-color;
}