@import 'app';

.header {
    border: 1px white;
    /* desktop screen */
    @media (min-width: 801px){
    }
     
    /* mobile screen */
    @media (max-width: 800px){
    }
}

button {
    -webkit-tap-highlight-color: transparent;
    padding: 10px 14px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
}

.header-button {
    border: .1em solid white;
    margin-top: 18px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
    background-color: $primary-color;
    color: $text-color;
}


.options-button {
    border: .1em solid white;
    margin-top: 18px;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: bold;
    background-color: $primary-color;
    color: $text-color;
}

.options-button:hover {
    box-shadow: 0px 3px 4px $primary-color;
}

.options-selected {
    color: $primary-color;
    background-color: white;
}

.header-selected {
    border: .2em solid white;
    box-shadow: 0px 3px 4px $primary-color;
}

.mario-sports {
    background-color: $mario-sports-color;
}
.mario-sports:active {
    background-color: white;
    color: $mario-sports-color;
}

.animal-crossing {
    background-color: $animal-crossing-color;
}
.animal-crossing:active {
   background-color: white;
    color: $animal-crossing-color;
}

.pokemon {
    background-color: $pokemon-color;
}
.pokemon:active {
    background-color: white;
    color: $pokemon-color;
}

.new-game {
    background-color: $primary-dark-color;
}
.new-game:active {
    background-color: white;
    color: $primary-dark-color;
}